@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Great+Vibes&family=Poppins&display=swap');
*{
    border:0;
    margin:0;
    margin-top: 1vh;
    font-family: Poppins;
}
body{
    /* background-color: rgb(159, 159, 232); */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ); */
    background-color: #202020;
    font-size: 1.2em;
}

/* Styling the Heading Portion */
h1,#description{
    font-family: 'Fira Sans', sans-serif;;
    color:white;
}
header{
    margin:2vh auto;
    text-align: center;
}

/* Styling the Form Container */
.container{
    /* background-color: rgba(88, 42, 157, 0.331); */
    /* background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% ); */
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    box-sizing: border-box;
    color:rgb(23, 18, 18);
    margin: 0 auto;
    padding: 50px;
    width:50%;
    box-shadow:0 0 10px 5px  rgb(54, 96, 112);
}

.container div input,select{
    /* border:1px solid black; */
    height:40px;
}
.container .form-control input,label,select,textarea{
    display: block;
    width:100%;
    border-radius: 4px;
}

/* Styling the Checkboxes and Radio Buttons */
.check-radio div {
    display: flex;
    align-items: center;
   /*  margin-bottom: 10px; */
}

.check-radio div input {
    margin-right: 10px;
    margin-bottom: 9px;
    align-self: flex-start;
    width:20px;
    height:30px;
}

.check-radio div label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width:100%;
}

::placeholder{
    font-size:1.0rem;
}

/* Style for the selected option in the dropdown */
select{
    font-weight:lighter;
    font-size: 1rem;
    color:grey;
    height:43px;
}
select option{
    color:black;
    /* background-color: rgb(116, 105, 105); */

}
.small-text{
    font-size:1rem;
}

/* Style the selected input fields */
.form-control input:focus {
    outline: none; /* Remove default focus outline */
    background-color: #f0f0f0;
    box-shadow:0 0 15px 4px  black; ;

}
.form-control select:focus {
    outline: none; /* Remove default focus outline */
    background-color: #f0f0f0;
    box-shadow:0 0 15px 4px  black; ;

}
.form-control textarea:focus {
    outline: none; /* Remove default focus outline */
    background-color: #f0f0f0;
    box-shadow:0 0 15px 4px  black; ;

}
/* Submit Button Styling */
#submit{
    background-color: rgb(3, 27, 36);
    color:white;
    font-size: 1rem;
    cursor: pointer;
}
#submit:hover{
    box-shadow:0 0 40px 10px  rgb(54, 96, 112);
}
