@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Great+Vibes&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  margin-top: 1vh;
  font-family: Poppins;
  box-sizing: border-box;
}
*::selection {
  background-color: #a6cf98;
}
body {
  background-color: #7a9d54;
  font-size: 1.2em;
}

/* Styling the Heading Portion */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh auto;
  text-align: center;
}
h1,
#description {
  font-family: "Fira Sans", sans-serif;
  width: 70%;
  color: rgb(57, 96, 33);
}

/* Styling the Form Container */
.container {
  background-color: #a6cf98;
  box-sizing: border-box;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  color: rgb(6, 4, 4);
  margin: 0 auto;
  padding: 3rem;
  width: 50%;
  /* box-shadow:0 0 10px 5px  rgb(54, 96, 112); */
  box-shadow: 0 5px 10px black;
}
.container > div {
  margin-bottom: 1rem;
}
/*Styling the input and select box*/
.form-control {
  width: 100%;
}
.container .form-control input,
.container .form-control select {
  width: 100%;
  height: 6.5vh;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  padding: 0.1rem 0rem 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.container label,
.checkbox-text {
  font-weight: 600;
  opacity: 0.9;
}
input::placeholder,
textarea::placeholder {
  /* padding-right: 0.5rem; */
  font-size: 1rem;
}

/* Style for the selected option in the dropdown */
select {
  font-weight: lighter;
  color: grey;
}

select option {
  color: black;
}
.small-text {
  font-size: 1rem;
}

/*Styling the Checkboxes and radios*/
.check-radio div {
  display: flex;
  align-items: center;
}
.check-radio div input,
.check-radio div label {
  margin: 0.2rem;
}
.check-radio div input {
  align-self: flex-start;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.check-radio div label {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem !important;
  width: 100%;
  color: rgba(32, 31, 31, 0.9);
  display: flex;
  justify-content: baseline;
  align-items: center;
}

/* Style the selected input fields */
.form-control input:focus {
  outline: none;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px 4px black;
}
.form-control select:focus {
  outline: none;
  background-color: #f0f0f0;
  box-shadow: 0 0 15px 4px black;
}
.form-control textarea:focus {
  outline: none;
  background-color: #f0f0f0;
  box-shadow: 0 0 15px 4px black;
}
input[type="radio"],
input[type="checkbox"] {
  accent-color: #5c7454;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  box-shadow: initial;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
}
textarea:focus {
}
/* Submit Button Styling */
#submit {
  background-color: rgb(3, 27, 36);
  background-color: mediumseagreen;
  color: white;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
#submit:hover {
  /* box-shadow:0 0 40px 10px  rgb(65, 114, 73); */
  background-color: rgb(35, 100, 64);
  color: white;
}

/*Responsiveness*/
@media only screen and (max-width: 900px) and (min-width: 471px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 470px) {
  /* Add styles for small screens */
  /* .form-control input,
    .form-control textarea,
    .form-control select {
        width: 100%;
    }
     */
  h1,
  #description {
    width: 90%;
  }
  .container {
    width: 90%;
    padding: 2rem;
  }
  .container .form-control input,
  select {
    height: 7.5vh;
  }
  input[type="checkbox"],
  input[type="radio"] {
    height: initial;
  }
}
